* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  color: var(--grey);
}
html {
  scroll-behavior: smooth;
}

:root {
  --green: #00aa5d;
  --grey: #383838;
  --section-title-font-size: 60px;
  --section-title-font-weight: 500;
  --section-title-font-size-mobile: 36px;
  --section-para-font-size: 30px;
  --section-para-font-size-mobile: 20px;
}

/* Main Container */
.main-container {
  margin: auto;
  /* width: 90%; */
  max-width: 1500px;
  overflow-x: hidden;
}
/* Main Container */

/* ****************************************** */

/* Main-Screen Section Start */
nav {
  background-color: #043a2c;
}
nav a {
  color: rgba(255, 255, 255, 0.5);
  transition: all 200ms;
}
nav a:hover {
  color: var(--green);
}
.main-screen {
  padding-left: 0.3px;
  padding-right: 0.3px;
  width: 100%;
}
.hero-section {
  background-image: url(./assets/images/backgrounds/Hero-Section-background-image-full.PNG);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.wallet-btn {
  background-image: linear-gradient(-69deg, #ffffff 0%, #eff2f8 100%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.menu-list {
  border-color: var(--grey);
}
.menu:hover .menu-list {
  display: flex;
}
.menu-list a {
  color: var(--grey);
  border-color: var(--grey);
}
.menu-list a:hover {
  color: #383838a6;
}
/* Main-Screen Section End */

/* ****************************************** */

/* Detail Section Start */
.detail-container {
  z-index: 100;
  margin-top: -300px;
  padding: 50px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.detail {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.4;
}

.detail h1 {
  color: var(--green);
  font-size: 60px;
  text-align: center;
}
.detail h3 {
  text-align: center;

  color: var(--grey);
  font-size: 40px;
}
/* Detail Section End */

/* ****************************************** */

/* Know the benefits Section Start */
.benefits-container {
  margin-top: 50px;

  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 80px;
}
.benefits-content {
  display: flex;
  justify-content: center;
  justify-items: start;
  gap: 30px;
}
.benefit-cards {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(2, 1fr);
}
.benefit-card {
  display: flex;
  padding: 40px;
  gap: 30px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-image: linear-gradient(-69deg, #ffffff 0%, #eff2f8 100%);
}
.benefit-card img {
  width: 120px;
}
.benefit-card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.benefit-card h1 {
  font-size: 30px;
}
.benefit-card hr {
  border: none;
  height: 1px;
  width: 50%;
  background-color: var(--green);
}
.benefit-card p {
  font-size: 18px;
}
.benefits-content .title {
  margin-top: -8px;
  white-space: pre;
  font-size: var(--section-title-font-size);
}
.benefits-content p {
  font-size: 20px;
}
.benefits-content span {
  color: var(--green);
}
/* Know the benefits Section End */

/* ****************************************** */
