* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  color: var(--grey);
}
html {
  scroll-behavior: smooth;
}

:root {
  --green: #00aa5d;
  --grey: #383838;
  --section-title-font-size: 60px;
  --section-title-font-weight: 500;
  --section-title-font-size-mobile: 36px;
  --section-para-font-size: 30px;
  --section-para-font-size-mobile: 20px;
}

/* Main Container */
.main-container {
  margin: auto;
  /* width: 90%; */
  max-width: 1500px;
  overflow-x: hidden;
}
/* Main Container */

/* ****************************************** */

/* Main-Screen Section Start */
nav {
  background-color: #043a2c;
}
nav a {
  color: rgba(255, 255, 255, 0.5);
  transition: all 200ms;
}
nav a:hover {
  color: var(--green);
}
.main-screen {
  padding-left: 0.3px;
  padding-right: 0.3px;
  width: 100%;
}
.hero-section {
  background-image: url(./assets/images/backgrounds/Hero-Section-background-image-full.PNG);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.wallet-btn {
  background-image: linear-gradient(-69deg, #ffffff 0%, #eff2f8 100%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.menu-list {
  border-color: var(--grey);
}
.menu:hover .menu-list {
  display: flex;
}
.menu-list a {
  color: var(--grey);
  border-color: var(--grey);
}
.menu-list a:hover {
  color: #383838a6;
}
/* Main-Screen Section End */

/* ****************************************** */

/* Detail Section Start */
.detail-container {
  z-index: 100;
  margin-top: -300px;
  padding: 50px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.detail {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.4;
}

.detail h1 {
  color: var(--green);
  font-size: 60px;
  text-align: center;
}
.detail h3 {
  text-align: center;

  color: var(--grey);
  font-size: 40px;
}
/* Detail Section End */

/* ****************************************** */

/* Know the benefits Section Start */
.benefits-container {
  margin-top: 50px;

  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 80px;
}
.benefits-content {
  display: flex;
  justify-content: center;
  justify-items: start;
  gap: 30px;
}
.benefit-cards {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(2, 1fr);
}
.benefit-card {
  display: flex;
  padding: 40px;
  gap: 30px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-image: linear-gradient(-69deg, #ffffff 0%, #eff2f8 100%);
}
.benefit-card img {
  width: 120px;
}
.benefit-card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.benefit-card h1 {
  font-size: 30px;
}
.benefit-card hr {
  border: none;
  height: 1px;
  width: 50%;
  background-color: var(--green);
}
.benefit-card p {
  font-size: 18px;
}
.benefits-content .title {
  margin-top: -8px;
  white-space: pre;
  font-size: var(--section-title-font-size);
}
.benefits-content p {
  font-size: 20px;
}
.benefits-content span {
  color: var(--green);
}
/* Know the benefits Section End */

/* ****************************************** */

/* Loan Section Start */
.loan-container {
  margin-top: 110px;

  padding: 50px;
  display: flex;
  gap: 20px;
}
.loan-container .bank-image {
  width: 50%;
}
.loan-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.loan-content .title {
  font-size: var(--section-title-font-size);
  font-weight: var(--section-title-font-weight);
}
.loan-content span {
  color: var(--green);
}
.loan-container ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.loan-content li {
  padding: 13px 0;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.loan-content p {
  font-size: var(--section-para-font-size);
}
.loan-content li:last-child {
  padding-left: 25px;
  border-left: 1px solid var(--green);
}
.loan-content li:last-child p {
  margin-bottom: 3px;
}
.loan-content img {
  width: 20px;
}
/* Loan Section End */

/* ****************************************** */

/* Token Section Start */
.token-container {
  margin-top: 90px;

  padding: 50px;
  display: flex;
  gap: 50px;
  align-items: flex-start;
}
.token-container .token-image {
  width: 50%;
}
.token-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.token-content .title {
  font-size: var(--section-title-font-size);
  font-weight: var(--section-title-font-weight);
}
.token-content span {
  color: var(--green);
}
.token-content p {
  font-size: var(--section-para-font-size);
}
.token-benefits-cards {
  margin-top: 20px;
  display: grid;
  gap: 30px;

  grid-template-columns: repeat(2, 1fr);
}
.token-benefit-card {
  display: flex;
  gap: 20px;
}
.token-benefit-card h2 {
  font-size: 25px;
}
.token-benefit-card div {
  display: flex;
  white-space: pre;
  width: fit-content;
  border-left: 1px solid var(--green);
  border-bottom: 1px solid var(--green);
  padding: 20px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-image: linear-gradient(-69deg, #ffffff 0%, #eff2f8 100%);
}

/* Token Section End */

/* ****************************************** */

/* Top 10 Section Start */
.top10-container {
  margin-top: 90px;

  padding: 50px;
  align-items: center;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.top10-container .title {
  font-size: var(--section-title-font-size);
  padding: 0 120px;
  text-align: center;
}
.top10-container span {
  color: var(--green);
}
.more-coins-btn {
  padding: 12px 100px;
  font-size: 20px;
  font-weight: 500;
  color: white;
  background-color: var(--green);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 100ms;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.more-coins-btn:hover {
  background-color: #0ed279e2;
}
.more-coins-btn:active {
  background-color: white;
  outline: 2px solid var(--green);
  color: var(--green);
}
/* Top 10 Section End */

/* ****************************************** */

/* Media Section Start */
.media-cards-container {
  margin-top: 110px;
  padding: 50px;
}

.media-cards-container .title {
  text-align: center;
  font-size: var(--section-title-font-size);
  font-weight: var(--section-title-font-weight);
}
.media-cards-container span {
  color: var(--green);
}
.media-cards-container p {
  margin-top: 20px;
  font-size: var(--section-para-font-size);
  text-align: center;
}
.media-cards {
  padding-top: 65px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.user-media-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 380px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  border: 3px solid white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.user-media-card:nth-child(2) {
  margin-top: 100px;
}
.user-media-card:nth-child(4) {
  margin-top: 100px;
}
.media-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}
.media-card-content h2 {
  color: #6b6a6a;
  font-weight: 400;
  font-size: 32px;
}
.media-card-content h1 {
  color: #6b6a6a;
}
.media-card-img {
  background-image: url(./assets/images/human-images/Eddi-Moon.PNG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 15px 15px 15px;
}
.user-media-card:nth-child(2) .media-card-img {
  background-image: url(assets/images/human-images/Max-Graham.PNG);
}
.user-media-card:nth-child(3) .media-card-img {
  background-image: url(assets/images/human-images/Alex-Johns.PNG);
}
.user-media-card:nth-child(4) .media-card-img {
  background-image: url(assets/images/human-images/Sam-Moher.PNG);
}
.media-card-img h1 {
  color: white;
  text-align: center;
}
.media {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.media img {
  width: 120px;
}
/* Media Section End */

/* *********************************** */
/* Featured Section Start */
.featured-container {
  margin: 40px;
  margin-top: 130px;
  overflow: hidden;
  display: flex;
  gap: 40px;
  flex-direction: column;
}
.featured-container .title {
  margin: auto;
  font-size: var(--section-title-font-size);
  font-weight: var(--section-title-font-weight);
}
.featured-brands img {
  width: 150px;
}
.featured-container span {
  color: var(--green);
}
.featured-brands {
  width: max-content;
  overflow: hidden;
  display: flex;
  gap: 30px;
}
.featured-brand-slider {
  display: flex;
  gap: 30px;
  animation: brand-slider 50s linear infinite;
}

@keyframes brand-slider {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* Featured Section End */

/* *************************************** */

/* CEO Section Start */
.ceo-container {
  padding: 40px;
  margin-top: 130px;
  background-image: url(./assets/images/backgrounds/CEO-Background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  gap: 100px;
  row-gap: 40px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.ceo-container .ceo-img {
  max-width: 400px;
  min-width: 250px;
}
.ceo-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
  min-width: 300px;
  line-height: 1.4;
}
.ceo-content .title {
  font-size: var(--section-title-font-size);
  font-weight: var(--section-title-font-weight);
}
.ceo-content span {
  color: var(--green);
}
.ceo-content p {
  font-size: 25px;
}
.ceo-content-footer {
  display: flex;
  gap: 20px;
}
.ceo-content-footer h3 {
  font-weight: 400;
}
.ceo-social-icons {
  display: flex;
  gap: 15px;
}
.ceo-social-icons img {
  cursor: pointer;
  transition: all 200ms;
  width: 50px;
  height: 50px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 10px;
}
.ceo-social-icons img:hover {
  transform: scale(1.03);
}
/* CEO Section End */

/* *************************************** */

/* Rating Section Start */
.raiting-container {
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.raiting-container .title {
  font-size: var(--section-title-font-size);
  font-weight: var(--section-title-font-weight);
}
.raiting-container p {
  font-size: 25px;
}
.raiting-container .green-star {
  width: 60px;
}
.raiting-score {
  display: flex;
  gap: 10px;
}
.raiting-5star {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.raiting-5star img {
  width: 40px;
  height: 40px;
}
/* Rating Section End */

/* *************************************** */

/* Reviews Section Start */
.reviews-container {
  position: relative;
  z-index: 10;
  margin: 40px;
  padding: 40px 0;
  overflow: hidden;
}
.right-shadow {
  z-index: 2;
  width: 100px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
.left-shadow {
  z-index: 2;
  width: 100px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
.reviews-slider-one {
  display: flex;
  width: calc(300 * 5);
  align-items: flex-start;
  gap: 30px;

  animation: slide 16s linear infinite;
}
.reviews-slider-two {
  margin-top: 65px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  gap: 30px;
  animation: slide 16s linear infinite;
  animation-delay: 1s;
}
.reviews-slider-one:hover {
  animation-play-state: paused;
}
.reviews-slider-two:hover {
  animation-play-state: paused;
}

@keyframes slide {
  0% {
    transform: translateX(20%);
  }
  5% {
    transform: translateX(20%);
  }
  10% {
    transform: translateX(0%);
  }
  20% {
    transform: translateX(-200px);
  }
  30% {
    transform: translateX(-200px);
  }
  40% {
    transform: translateX(-400px);
  }
  50% {
    transform: translateX(-400px);
  }
  60% {
    transform: translateX(-600px);
  }
  70% {
    transform: translateX(-600px);
  }
  80% {
    transform: translateX(-800px);
  }

  90% {
    transform: translateX(-800px);
  }
  100% {
    transform: translateX(20%);
  }
}

.review-card {
  background-image: linear-gradient(-56deg, #ffffff 0%, #eff2f8 100%);
  padding: 20px;
  min-width: 300px;
  border: 5px solid white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 15px;
  transition: all 0.2s cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  line-height: 1.4;
}
.review-card:hover {
  transform: scale(1.05);
}
.review-card-header {
  display: flex;
  align-items: center;
  gap: 20px;
}
.review-card .profile {
  width: 70px;
  height: 70px;
  border-radius: 300px;
  box-shadow: rgba(0, 0, 0, 0.202) 0px 5px 15px;
}
.review-card .review-card-five-stars {
  display: flex;
  gap: 10px;
}
.review-card .review-card-five-stars img {
  width: 20px;
  height: 20px;
  box-shadow: rgba(0, 0, 0, 0.203) 0px 5px 15px;
}
/* Reviews Section end */

/* ****************************************** */

/* Security Section Start */
.security-container {
  padding: 40px;
  margin-bottom: 20px;
  margin-top: 90px;
  width: 100%;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.security-container .security-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 1;
  min-width: 300px;
}
.security-info .title {
  font-weight: 600;
  font-size: 50px;
}
.security-info-txt {
  font-size: 25px;
  line-height: 1.3;
}
.security-info .title span {
  color: var(--green);
}
.security-container ul {
  font-weight: 500;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  list-style: none;
}
.security-container li {
  display: flex;
  gap: 10px;
  line-height: 1.4;
}
.security-container li img {
  margin-top: 4px;
  width: 20px;
  height: 20px;
}

.security-container .sheild-image {
  min-width: 300px;
  width: 40%;
}

/* Security Section End */

/* ****************************************** */

/* Prefer Section Start */
.prefer-container {
  background-image: url(./assets/images/backgrounds/footer-background-image.png);
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  margin-top: -100px;
  height: 760px;
  display: flex;
  gap: 20px;
  padding: 50px;
  padding-left: 600px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.prefer-container .title {
  font-size: 50px;
  color: white;
}
.prefer-container .title span {
  color: var(--green);
}
.refer-description {
  color: white;
  font-size: 30px;
  line-height: 1.4;
}
.start-earn-btn {
  padding: 12px 70px;
  font-size: 20px;
  font-weight: 500;
  color: white;
  background-color: var(--green);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 100ms;
}
.start-earn-btn:hover {
  background-color: #0ed279e2;
}
.start-earn-btn:active {
  background-color: white;
  outline: 2px solid var(--green);
  color: var(--green);
}

/* Prefer Section End */

/* ****************************************** */

/* Footer Section Start */
footer {
  padding: 50px;
  margin-top: -130px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.footer-top-logo {
  width: 300px;
}

.footer-4-col {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
.col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1;
  gap: 20px;
  min-width: 300px;
  line-height: 1.3;
}
.col hr {
  width: 200px;
  margin-bottom: 12px;
  background-color: red;
  border-color: var(--green);
}
.social-media {
  display: flex;
  gap: 7px;
}
.social-media img {
  cursor: pointer;
  transition: all 200ms;
  width: 40px;
  height: 40px;
  border-radius: 300px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 10px;
}
.social-media img:hover {
  transform: scale(1.03);
}
.col ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.col li {
  display: flex;
  gap: 10px;
}
.col li a {
  text-decoration: none;
  transition: all 200ms;
}
.col li a:hover {
  text-decoration: underline;
  color: #6b6a6a;
}
.col li img {
  margin-top: 1px;
  width: 15px;
  height: 15px;
}
.subscription-form-container {
  border-radius: 6px;
  padding: 20px;
  background-image: linear-gradient(-56deg, #ffffff 0%, #eff2f8 100%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.subscription-form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.subscription-form input {
  padding: 10px;
  padding-right: 42px;
  border: 1px solid #d8d6d6;
  border-radius: 6px;
}
.subscription-form input:focus {
  outline: none;
}
.subscription-form button {
  position: absolute;
  padding: 7px 10px;
  background-color: var(--green);
  cursor: pointer;
  border: none;
  border-radius: 6px;
  right: 5px;
  transition: all 100ms;
}
.subscription-form button:hover {
  background-color: #0ed279e2;
}
.subscription-form button:active {
  background-color: transparent;
  outline: 1px solid var(--green);
}
.subscription-form button i {
  color: white;
}
.subscription-form button:active #arrow {
  color: var(--green);
}
.subscription-col img {
  width: 125px;
  height: 45px;
  border-radius: 6px;
}
.copyright {
  border-top: 1px solid #c3c2c2;
  border-bottom: 1px solid #c3c2c2;
  padding: 25px 40px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}
.copyright p {
  min-width: 300px;
  line-height: 1.3;
}
.copyright img {
  width: 250px;
}
.go-to-top {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 10px;
  border-radius: 7px;
  position: absolute;
  right: 45px;
  top: -23px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(-56deg, #ffffff 0%, #eff2f8 100%);
}
.go-to-top img {
  cursor: pointer;
  width: 20px;
}
.authorized {
  border-bottom: 1px solid #c3c2c2;
  padding: 25px 40px;
  line-height: 1.4;
}
.footer-txt-info {
  border-bottom: 1px solid #c3c2c2;
  padding: 25px 40px;
  line-height: 1.4;
}

/* Footer Section End */

/* ****************************************** */

/* media Queries */

@media screen and (max-width: 1535px) {
  .detail-container {
    margin-top: 100px;
  }
}

@media screen and (max-width: 1200px) {
  .detail-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .detail h1 {
    font-size: 50px;
  }
  .detail h3 {
    font-size: 30px;
  }
  .token-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .token-container .token-image {
    width: 90%;
  }
  .token-benefits-cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .token-benefit-card {
    align-items: center;
  }
}
@media screen and (max-width: 1000px) {
  .benefits-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .benefit-cards {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(1, 1fr);
  }
  .media-cards {
    grid-template-columns: 1fr;
  }
  .prefer-container {
    padding-left: 200px;
    background-position: 3%;
  }
  .user-media-card:nth-child(2) {
    margin-top: 0px;
  }
  .user-media-card:nth-child(4) {
    margin-top: 0px;
  }
}

@media screen and (max-width: 768px) {
  .detail-container h1 {
    font-size: 40px;
  }
  .detail-container h3 {
    font-size: 20px;
  }

  .loan-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .loan-container .bank-image {
    width: 90%;
    flex-wrap: wrap;
    justify-content: center;
  }
  .user-media-card {
    height: 300px;
  }
  .media-card-content h2 {
    font-size: 20px;
  }
  .media-card-content h1 {
    font-size: 20px;
  }
  .media-card-img {
    background-position: top;
  }
  .media-card-img h1 {
    font-size: 20px;
  }
  .security-container .sheild-image {
    width: 90%;
  }
  .prefer-container {
    padding-left: 50px;
  }
  .prefer-container .title {
    font-size: 40px;
  }
  .refer-description {
    font-size: 22px;
  }
  .start-earn-btn {
    font-size: 15px;
  }
  .benefits-container .benefits-content .title {
    font-size: var(--section-title-font-size-mobile);
  }
  .loan-container .title {
    font-size: var(--section-title-font-size-mobile);
  }
  .loan-container p {
    font-size: var(--section-para-font-size-mobile);
  }
  .token-container .title {
    font-size: var(--section-title-font-size-mobile);
  }
  .token-container p {
    font-size: var(--section-para-font-size-mobile);
  }
  .token-container h2 {
    font-size: 23px;
  }
  .top10-container .title {
    font-size: var(--section-title-font-size-mobile);
    padding: 0;
  }
  .top10-container .more-coins-btn {
    font-size: 18px;
    padding: 7px 25px;
  }
  .media-cards-container .title {
    font-size: var(--section-title-font-size-mobile);
  }
  .media-cards-container p {
    font-size: var(--section-para-font-size-mobile);
  }
  .media-cards {
    margin-top: 0;
  }
  .featured-container .title {
    font-size: var(--section-title-font-size-mobile);
  }
  .ceo-container .title {
    font-size: var(--section-title-font-size-mobile);
  }
  .ceo-container p {
    font-size: var(--section-para-font-size-mobile);
  }
  .raiting-container .title {
    font-size: var(--section-title-font-size-mobile);
  }
  .footer-top-logo {
    width: 250px;
  }
}
@media screen and (max-width: 500px) {
  .detail-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .benefit-card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .benefit-card-content {
    align-items: center;
    text-align: center;
  }
  .benefit-card-content hr {
    width: 100%;
  }
  .user-media-card {
    height: 200px;
  }
  .media-card-content h2 {
    font-size: 16px;
  }
  .media-card-content h1 {
    font-size: 16px;
  }
  .media-card-img {
    background-position: top;
  }
  .media-card-img h1 {
    font-size: 12px;
  }
  .media-card-img {
    background-position: top;
  }
  .media img {
    width: 50px;
  }
  .reviews-container {
    margin: 30px;
  }
  .reviews-container .left-shadow {
    width: 40px;
  }
  .right-shadow .security-container {
    padding: 30px;
  }
  .prefer-container {
    padding: 30px;
  }
  footer {
    padding: 30px;
  }
  .subscription-form-container {
    padding: 14px;
  }
}
